{{extend response.layout_path}}

<!--<h1>Flow {{=flow_id}} </h1>-->

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{=URL(c='default', f='index')}}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{=URL(c='flows', f='inspect_list', vars=dict(client_id=client_id))}}">{{=client_id}}</a></li>
      <li class="breadcrumb-item">{{=flow_id}}</li>
  </ol>
</nav>


<ul class="nav nav-tabs" role="tablist">
 <li role="presentation" id="desc-tab">
    <a href="#desc" role="tab">Description</a></li>
 <li role="presentation" id="collections-tab" >
   <a href="#collections" role="tab">
     Collections</a></li>
 <li role="presentation" id="files-tab" >
    <a href="#files" role="tab">Files</a></li>
</ul>
<div class='tab-content'>
   <div class='tab-pane' role='tabpanel' id="desc">
     <div class='panel panel-default'>
       <div class='panel-body'></div>
     </div>
   </div>
   <div class='tab-pane' role='tabpanel' id="collections">
     <div class='panel panel-default'>
       <div class='panel-body'></div>
     </div>
   </div>
   <div class='tab-pane' role='tabpanel' id="files">
     <div class='panel panel-default'>
       <div class='panel-body'><table></table></div>
     </div>
   </div>
</div>

<script>
  rekall.flows.describe_flow("{{=client_id}}", "{{=flow_id}}");
</script>
