{{extend response.layout_path}}

<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{{=URL(c='default', f='index')}}">Home</a></li>
      <li class="breadcrumb-item"><a href="{{=URL(c='flows', f='inspect_list')}}?client_id={{=client_id}}">{{=client_id}}</a></li>
      <li class="breadcrumb-item"><a href="{{=URL(c='flows', f='description', vars=dict(client_id=client_id, flow_id=flow_id))}}">{{=flow_id}}</a></li>
      <li class="breadcrumb-item">{{=upload_id}}</li>
  </ol>
</nav>

<div id="pagination"></div>
<div id="description"></div>
<div id="plugins" class="hexviewer"></div>
<script>
  rekall.uploads.hex_view("{{=upload_id}}", {{=offset}}, "#plugins");
</script>
