{{extend response.layout_path}}

<div class="btn-group toolbar" role="toolbar" aria-label="toolbar">
  <button type="button" class="btn btn-default dropdown-toggle right-square"
          data-toggle="dropdown" aria-haspopup="true" id="add_flow">
    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"
          title="Create New Flow"></span>&nbsp;
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="{{=URL(f='list', vars=dict(client_id=client_id))}}"
           class="link">
        Run Rekall Plugin</a></li>
    <li><a href="{{=URL(f='launch', vars=dict(plugin='Search', client_id=client_id))}}"
           class="link">
        Run EFilter Query</a></li>
    <li><a href="{{=URL(f='launch', vars=dict(plugin='OSQuery', client_id=client_id))}}"
           class="link">
        Run OSQuery</a></li>
  </ul>

  <button type="button" class="btn btn-default disabled" id="delete">
    <span class="glyphicon glyphicon-trash" aria-hidden="true"
          title="Delete Flows"></span>&nbsp;
  </button>

  <button type="button" class="btn btn-default disabled" id="save">
    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"
          title="Save Flows"></span>&nbsp;
  </button>

  <button type="button" class="btn btn-default" id="load">
    <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"
          title="Load Flows"></span>&nbsp;
  </button>

  <button type="button" class="btn btn-default" id="refresh">
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"
          title="Refresh"></span>&nbsp;
  </button>

  <button type="button" class="btn btn-default disabled" id="download">
    <span class="glyphicon glyphicon-download" aria-hidden="true"
          title="Download"></span>&nbsp;
  </button>

  <button type="button" class="btn btn-default" id="info">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"
          title="Client Info"></span>&nbsp;
  </button>

  <button type="button" class="btn btn-default disabled" id="hunt">
    <span class="glyphicon glyphicon-screenshot" aria-hidden="true"
          title="Hunt"></span>&nbsp;
  </button>

</div>

<div class="table-container">
<table id="flows" class="display" cellspacing="0" width="100%">
</table>
</div>
<script>
  rekall.flows.list_flows_for_client("{{=client_id}}", "#flows");
  rekall.utils.watch_checkboxes_to_disabled_button("#flows", "#delete");
  rekall.utils.watch_checkboxes_to_disabled_button("#flows", "#save");
  rekall.utils.watch_checkboxes_to_disabled_button("#flows", "#download");
  rekall.utils.watch_checkboxes_to_disabled_button("#flows", "#hunt");

  $("#refresh").click(function () {
    rekall.utils.load(window.location.href);
  });

  $("#info").click(function() {
    rekall.clients.view_modal("{{=client_id}}");
    return false;
  });

  $("#download").click(function() {
    rekall.flows.download("{{=client_id}}", "#flows");
    return false;
  });

  $("#hunt").click(function() {
    rekall.hunts.create_from_flows("{{=client_id}}", "#flows");
    return false;
  });
</script>
