{{extend response.layout_path}}

{{if error: }}
  <div id="error" style="display: none">
    {{=error.body}}

    <a href="{{=URL(c='clients', f='request_approval', vars=dict(client_id=client_id))}}"
       type="button" class="btn btn-info">Request Approval</a>
  </div>
  <script>
    $(function() {
      $("#modalContainer").html(
          rekall.templates.modal_template(
              $("#error").html(),
              "Error: {{=error.message}}",
              ));
      $("#modal").modal("show");
    });
  </script>
{{pass}}

<div class="panel panel-default">
  <div class="panel-heading">{{=api_info['name']}}</div>
  <div class="panel-body">{{=api_info.get('description','')}}</div>

  <form enctype="multipart/form-data" class="form-horizontal"
        action="{{=URL()}}" method="post">
    {{ for input in inputs: }}
      {{=input}}
    {{pass}}

    <div class="form-group">
      <label class="col-sm-2 control-label"></label>
      <div class="col-sm-7">
        <a class="btn btn-primary" role="button"
           data-toggle="collapse" href="#sessionForm"
           aria-expanded="false" aria-controls="sessionForm">
          Session Parameters
        </a>
        {{=form.hidden_fields()}}
        <input type="hidden" name="plugin" value="{{=plugin}}"></input>
        <input type="hidden" name="client_id" value="{{=client_id}}"></input>
        <input type="submit"></input>
      </div>
    </div>

    <div class="collapse" id="sessionForm">
      <div class="well">
        {{ for input in session_inputs: }}
          {{=input}}
          {{pass}}
      </div>
    </div>
  </form>

</div>

<script>
    $("input[type=submit]").click(function (event) {
      rekall.utils.submit_form({
        next: rekall.globals.controllers.inspect_list,
        data: {
          client_id: "{{=client_id}}",
        }
      });
      event.preventDefault();
    });
</script>
