{{extend response.layout_path}}

<div class="panel-group"
     id="accordion" role="tablist"
     aria-multiselectable="true">
<div class="panel panel-default">
  <div class="panel-heading" id="headingOne" role="tab">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse"
         class="collapsed"
         data-parent="#accordion" href="#collapseOne"
         aria-expanded="false" aria-controls="collapseOne">
        <span class="glyphicon glyphicon-book" aria-hidden="true">&nbsp;</span>
        {{=plugin}} Plugin
      </a>
    </h4>
  </div>
  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
       aria-labelledby="headingOne">
    <div class="panel-body"><div id="description"></div></div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading"  id="headingTwo" role="tab">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse"
         data-parent="#accordion" href="#collapseTwo"
         aria-expanded="true" aria-controls="collapseTwo">
        <span class="glyphicon glyphicon-expand" aria-hidden="true">&nbsp;</span>
        Launch
      </a>
    </h4>
  </div>
  <div id="collapseTwo" class="panel-collapse collapse in"
       role="tabpanel" aria-labelledby="headingTwo">
    <div class="panel-body">
      <form class="form-horizontal">
        <div id="input_form"></div>
        <div class="form-group">
          <label class="col-sm-2 control-label"></label>
          <div class="col-sm-7">
            <a class="btn btn-primary" role="button"
               data-toggle="collapse" href="#session_form"
               aria-expanded="false" aria-controls="session_form">
              Session Parameters
            </a>
            <input type="hidden" name="plugin" value="{{=plugin}}"></input>
            <input type="hidden" name="client_id" value="{{=client_id}}"></input>
            <a class="btn btn-default" role="button" href="#" id="submit">
              Submit
            </a>
          </div>
        </div>

        <div class="collapse" id="session_form">
          <div class="well">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  rekall.flows.build_form($("#input_form"), "{{=plugin}}", {
    prefix: "plugin_arg."
  });

  rekall.flows.build_session_form($("#session_form .well"), {
    prefix: "rekall_session."
  });

  $("#submit").click(function () {
    rekall.flows.launch_plugin($("form"), "{{=client_id}}");
  });
</script>
