{{extend response.layout_path}}

<div class="panel panel-default">
  <div class="panel-heading">Add New User</div>
  <div class="panel-body">You can use this to grant a new role to a user.</div>

  {{=form}}

</div>
<script>
  $("input[type=submit]").click(function (event) {
    $.ajax(rekall.utils.call({
      api: '/users/add',
      data: $("form").serializeArray(),
      method: "POST",
      error: rekall.utils.error,
      success: function () {
        rekall.utils.load(rekall.globals.controllers.manage_users);
      }
    }));
    event.preventDefault();
  });
</script>
