{{extend response.layout_path}}

<div class="btn-group toolbar" role="toolbar" aria-label="toolbar">
  <button type="button" class="btn btn-default disabled"
          id="remove"
          onclick="rekall.users.remove_users('#users');">
    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"
          title="Delete"></span>&nbsp;Delete
  </button>
  <a href="{{=URL(c='users', f='add')}}"
     type="button" class="btn btn-default link"
     id="add">
    <span class="glyphicon glyphicon-check" aria-hidden="true"
          title="Add"></span>&nbsp;Add
  </a>

</div>

<div class="panel panel-default">
  <div class="panel-heading">User Role Assignment</div>
  <div class="panel-body">
    <table id="users" class="display" cellspacing="0" width="100%"></table>
  </div>
</div>

<script>
  rekall.users.list_users("#users");
  rekall.utils.watch_checkboxes_to_disabled_button(".panel", "#remove");
</script>
