{{extend response.layout_path}}

<h2>Search clients</h2>
<form action="#" method="GET">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-addon btn" type="button" id="go">Search
      </span>
      <input type="text" class="form-control" name="q" placeholder="Search for...">
    </div>
  </div>
</form>

<script>
  var handler = function(event) {
    var q = $("input[name=q]").val();
    if (q) {
      rekall.utils.load(rekall.globals.controllers.client_search, {q: q});
      return true;
    };
  };

$("form").submit(handler);
$("#go").click(handler);
</script>
