img.icon {
    height: 24px;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }


.collection_cell_rich {
    cursor: pointer;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
}

.link {
    cursor: pointer;
}


.btn {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.table-container {
    padding-top: 15px;
}


.navbar-brand {
    padding: 7px;
}

.logo {
    max-height: 48px;
}


.editor {
    position: relative;
    top: 10px;
    right: 0;
    bottom: 20px;
    left: 0;
    height: 600px;

}

.input-group {
    margin-top: 10px;
}

button.right-square {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.toolbar {
    margin-bottom: 10px;
}

.btn.input-group-addon {
    color: #ffffff;
    background-color: #3e3f3a;
    border-color: transparent;
}

.ui-front.modal-autocomplete {
    z-index: 100000;
}

.loading.disabled {
    visibility: hidden;
}


a.rekall-glyphicon {
    color: black;
    cursor: pointer;
}



/* Syntax highlighting for JSON objects */
ul.json-dict, ol.json-array {
  list-style-type: none;
  margin: 0 0 0 1px;
  border-left: 1px dotted #ccc;
  padding-left: 2em;
}
.json-string {
  color: #0B7500;
}
.json-literal {
  color: #1A01CC;
  font-weight: bold;
}

/* Toggle button */
a.json-toggle {
  position: relative;
  color: inherit;
  text-decoration: none;
}

a.json-toggle:focus {
  outline: none;
}

a.json-toggle:before {
  color: #aaa;
  content: "\25BC"; /* down arrow */
  position: absolute;
  display: inline-block;
  width: 1em;
  left: -1em;
}

a.json-toggle.collapsed:before {
  transform: rotate(-90deg); /* Use rotated down arrow, prevents right arrow appearing smaller than down arrow in some browsers */
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

/* Collapsable placeholder links */
a.json-placeholder {
  color: #aaa;
  padding: 0 1em;
  text-decoration: none;
}
a.json-placeholder:hover {
  text-decoration: underline;
}


.collapsed > .json-array {
    display: none;
}

.collapsed > .json-dict {
    display: none;
}

.exposed > .json-placeholder {
    display: none;
}


.template {
    display: none;
}

h1 {
    font-size: 22px;
}

h2 {
    font-size: 18px;
}

.json-expander {
    float: right;
}