img.icon {
    height: 24px;
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }


.collection_cell_rich {
    cursor: pointer;
}


.link {
    cursor: pointer;
}


.btn {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.table-container {
    padding-top: 5px;
}


.navbar-brand {
    padding: 7px;
}

.logo {
    max-height: 48px;
}


.editor {
    position: relative;
    top: 10px;
    right: 0;
    bottom: 20px;
    left: 0;
    height: 600px;

}

.input-group {
    margin-top: 10px;
}

button.right-square {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}


.toolbar {
    margin-bottom: 10px;
}
