{{extend response.layout_path}}

<div class="panel panel-default">
  <div class="panel-heading">Approve Hunt Proposal</div>
  <div class="panel-body">
    The user {{=user}} has proposed the hunt {{=hunt_id}}.

    <a type="button" class="btn btn-warning"
       id="approve"
       data-hunt_id="{{=hunt_id}}"
       data-user="{{=user}}"
       >
      Approve Request
    </a>

    <div id="hunt_info"></div>
  </div>
</div>

<script>
  var approve = $("#approve").click(function () {
    $.ajax(rekall.utils.call({
      api: "/hunts/approve",
      data: $.param(approve.data()),
      method: "POST",
      success: function() {
        rekall.utils.load(rekall.globals.controllers.home);
      }}));
  });
</script>
