<script type="text/javascript"><!--
    // These variables are used by the web2py_ajax_init function in web2py_ajax.js (which is loaded below).
    {{=ASSIGNJS(
    w2p_ajax_confirm_message = T('Are you sure you want to delete this object?'),
    w2p_ajax_disable_with_message = T('Working...'),
    w2p_ajax_date_format = T('%Y-%m-%d'),
    w2p_ajax_datetime_format = T('%Y-%m-%d %H:%M:%S'),
    ajax_error_500 = T.M('An error occured, please [[reload %s]] the page') % URL(args=request.args, vars=request.get_vars)
    )}}
    //--></script>

<script type="text/javascript">
  // Rekall JavaScript namespaces setups.
  rekall = {};

  rekall.csrf_token = "{{=session.csrf_token}}";

  // Globals to be shared between all the users.
  rekall.globals = {
    image_dir: "{{=URL('static', 'images')}}/",

    // Global location of various controllers.
    controllers: {
      client_search: "{{=URL(c='clients', f='search')}}",
      collection_view: "{{=URL(c='flows', f='collection_view')}}",
      download: "{{=URL(c='flows', f='download')}}",
      uploads_view: "{{=URL(c='flows', f='uploads_view')}}",
      hex_view: "{{=URL(c='flows', f='hex_view')}}",
      request_approval: "{{=URL(c='clients', f='request_approval')}}",
      manage_users: "{{=URL(c='users', f='manage')}}",
      approve_request: "{{=URL(c='clients', f='approve_request')}}",
      inspect_list: "{{=URL(c='flows', f='inspect_list')}}",
      artifact_list: "{{=URL(c='artifacts', f='index')}}",
      save_flow: "{{=URL(c='flows', f='save')}}",
    },

    api_route: "{{=URL(c='api', f='run', host=True)}}",
  };
</script>


{{
response.files.append(URL('static','js/jquery.js'))
response.files.append(URL('static','css/calendar.css'))
response.files.append(URL('static','css/rekall.css'))
response.files.append(URL('static','js/calendar.js'))
response.files.append(URL('static','js/web2py.js'))
response.files.append(URL('static','js/rekall.js'))
response.files.append(URL('static','js/jq-ajax-progress.js'))
response.files.append(URL('static','js/dataTables/datatables.min.css'))
response.files.append(URL('static','js/dataTables/DataTables-1.10.15/css/jquery.dataTables.min.css'))
response.files.append(URL('static','js/dataTables/datatables.min.js'))
response.files.append(URL('static','js/bootstrap.min.js'))
response.files.append(URL('static','js/web2py-bootstrap3.js'))

response.include_meta()
response.include_files()
}}
